body{
background: #0015ff url("Dna\ Nano\ Tech.jpg") fixed no-repeat right top; 
background-size: 100% 100%;
margin:1px;
}

.sub-menu {
	position:fixed;
	margin-top:0;
	width:auto;/*155px;*/
	height:auto;
	display:none;
}
h1 { /*starts head formatting */
	color:rgb(255,255,255);
	margin:0%;
	font-size:150%;
	font-family:monospace;
	
}
	
.main-menu {
	display: inline-block;
	position: fixed;
	margin:0%;
}
.main-menu:after {
	content: "";
	display: table;
}
.nav-menu {
   position:relative;
   display:inline-block;
}
.nav-menu .navli {
   display: inline;
   list-style-type: none;
}
.nav-wrapper {
	width:100%;
}
nav ul { /*for the navigation bar*/
	position:fixed;
	list-style:none;
	margin:0%;
	padding:0;
	/*overflow:hidden;*/
	width:535px;
	border-color:rgb(255,255,255);
	border-style:solid;
	background-color:rgba(0,0,0,0.4);
	border-width:1px;
}
	nav ul:after {
		content: ""; clear: both; display: block;
	}
.navli { /*for the list in the navigation bar */
	float:left;
	position:relative;
}
.navli:hover > .sub-menu {
	display: block;
	float:center;
	margin: 0;
}
.navlink:link, .navlink:visited {/*for hyperlinks*/
text-decoration:none;
color:rgba(255,255,255,0.8);
text-align:center;
padding:4px; /*,14px,4px,14px; */
display:inline-block;
margin:auto;
}
.navlink:hover, .navlink:active {
background-color:rgba(0,0,0,0.7);
}
.navlink {
	width:125px;
}
