{% extends "userbar.html" %}
{% block header %}

<html>
<title>Change your password</title>

{% endblock %}

<!--<link rel="stylesheet" type="text/css" href="/css/main.css">-->

<body>
{% block body %}
<div class="h1"><h1>Change Your Password</h1></div><br>
<!--<div class="h4"><h4>Would you like to convert a pdf file into text, or convert that text file into an audiobook?</h4></div><br>-->
<script type="text/javascript" src="js/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="js/settings.js"></script>
<form id="passwordreset" class="passwordreset" action="/update_password" method="POST">
<div id="output"></div>
{% with messages = get_flashed_messages() %}
{% if messages %}
                {% for message in messages %}
                <h3 style="color:black;font-style:bold;">{{ message }}</h3><br>
                {% endfor %}
        </ul>
{% endif %}
{% endwith %}
{{ form.password.label }} {{ form.password }} <br>
{{ form.new_password.label }} {{ form.new_password }} <br>
{{ form.password_confirm.label }} {{ form.password_confirm }}<br>

<!--<button type="button" onclick="downall();">Download All</button>-->
<button type="button" onclick="doAjaxSubmit();">Submit</button>
<!--{{ form.submit }}-->
</form>
<script type="text/javascript">
//Begin post-load functions
//recalculate_price(); 
</script>
{% endblock %}

