<!DOCTYPE=html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="attempt_style.css">
<title> Introduction of a scientist </title>
<h1> <ul> 
<li> <a href="index.html"> Home </a> </li> 
<li> <a href="#about"> About </a> </li> 
<li> <a href="resume.pdf"> Resume </a> </li> 
<li> <a href="cntact.html">Contact </a></li> 
</ul> </h1>

</head>
<body>
<p>
Michael van Dyk <br>
<a href="mailto:michael@biochemist.me">michael@biochemist.me </a> <br>
561-703-4706 <br> <br> Call me anytime. 


</p>
</body>

</html>

