<!DOCTYPE=html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="/css/modal.css">
<link rel="stylesheet" type="text/css" href="/css/login.css">

<!--<link rel="stylesheet" type="text/css" href="/css/modal.css">-->

<style>
s { 
    text-decoration: none;
}
</style>
<title>Forgot Password</title>
<!--<nav>-->

<body>
<div class="maincontainer">
<h1>Forgot your password?</hr>
<h2>Enter your email address in the box below, and press the "reset password" button to get your password reset.</h2>
<form class="hometable" action="/forgot_password" method="POST">
{{ form.email.label }}: {{ form.email(size=32) }}
<b><div {% if passed=='yes' %} style="color:green;" {% else %} style="color:red;" {% endif %}>{{ message }}</div></b>
<br> <button type="submit">Reset Password</button>
</form>
</div>
<!-- END MODAL JAVASCRIPT FROM TUTORIAL -->
<!--<script type="text/javascript" src="/js/home.js"> </script>-->
</body>
</html>
