{% extends "automata.html" %}

{% block title %}Hackathons{% endblock %}
{% block headersentence %}My hackathon History{% endblock %}
{% block content %}
<p>
<a href="/hackathons/hackfsu.html"><eventname>HackFSU - Hardware Bitcoin Wallet</eventname> <br>
<!--Read 09/27/17 -->
<eventdate>March 2018</eventdate></a>
<a href="https://devpost.com/software/bitboard"><img src="https://challengepost-s3-challengepost.netdna-ssl.com/photos/production/software_photos/000/611/128/datas/gallery.jpg"/></a>
<br>
<br>
Historically, within the world of bitcoin there has been a dichotomy between convenience and security. People who install bitcoin wallet software on their devices risk losing their money if the computer or phone ever gets hacked. The counter to this is the bitcoin hardware wallet, where the private key (the secret password needed to spend money) is stored on a piece of hardware inaccessable from the interent ... The purpose of this project is to create a bitcoin hardware wallet that is both secure (i.e. the private key is not exposed the internet) and convenient (the user can spend money at the push of a button).
</p>
<p>
<a href="/hackathons/iotlakes.html"><eventname>IoT Mother's day Makeathon - Internet of Lakes</eventname> <br>
<eventdate>May 2016</eventdate></a>
<a href="https://iotmdm2016.devpost.com/"><img src="https://challengepost-s3-challengepost.netdna-ssl.com/photos/production/challenge_photos/000/353/304/datas/full_width.png"/></a>
<br><br>
The purpose of this project is to develop an early way of detecting and tracking Algal blooms in the many laks of minnesota using flow cytometry. (Flow cytometry is the practice of passing a liquid containing cells through a small transparent tube so a camera can count them.)
</p>
<p>
<a href="/hackathons/hackdaypcr.html"><eventname>IoTHackDay 2015 - Laptop to Thermocycler Converter</eventname> <br>
<eventdate>October 2015</eventdate></a>
<a href="https://iothackday2015.devpost.com/"><img src="https://images.duckduckgo.com/iu/?u=http%3A%2F%2Fib.bioninja.com.au%2F_Media%2Fpcr-components_med.jpeg&f=1"/></a>
<br><br>
The purpose of this project was to make a laptop capable of acting as a thermocycler (PCR Machine). <br> 
PCR (short for polymerase chain reaction) is a method for duplicating strands of DNA over and over until you have 2^n copies of the DNA, where n is a cycle in the chain reaction. The thermocycler (aka PCR Machine) facilitatites the reaction by cycling through different temperatures corresponding to each stage in the reaction.
</p>
<link rel="stylesheet" type="text/css" href="/css/hackathons.css">
{% endblock %}
